[GENERAL]
push_notification_price = 7000

[GMAIL]
sender = "aa@example.com"
receiver = "cc@example.com"
login = "bb@example.com"
password = "password"

[ONTOP]
id = 1234567
key = AAAAAAABBBBBBBBCCCCCCCC